52796fabril fatface/* Set the scroll behavior to smooth so that when you click the in the header, the screen scrolls down rather than jumps */
html {
  scroll-behavior: smooth;
}

/* Set the margin to 0 to make sure the page stretches all the way to the edge of the browser window. */
body {
  margin: 0;
  background-color: #484848;
}

header, footer {
  background-color: #52796f;
  text-align: left;
/*  min-width: 500px; */
}

header {
  font-family: abril fatface;
  color: #fff;
  min-height: 100vh;
  display: flex;
}


main {
  /* background-color: black; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
  grid-gap: 20px;
  margin-top: 44px;

  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

h1 {
  font-family: abril fatface;
  font-size: calc(1em + 3vw);
  padding-bottom: .67em;
  border-bottom: 1px solid;
  line-height: 1.3;
}

h2 {
  font-family: abril fatface;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #cad2c5;
  padding: 10px 0px 10px 10px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

a {
  color: #84a98c;
}
.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 50px;
    display: block;
}

.bio {
  color: #ffffff;
  font-size: 24px;
  font-family: source sans pro;
}


.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
    background-color:#84a98c;
}

.myButton:active {
    position:relative;
    top:1px;
}

.project {
  box-shadow: solid 1px rgba(255,255,255,.5);

  width: 100%;
}



.description {
  font-family: source sans pro;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: white;
  padding:  0 20px 20px 20p;
  border-top: 1px solid grey;
}


.container {
/*  min-width: 500px; */
  margin: auto;
}

footer {
  margin-top: 44px;
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
  }
}
